@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
body{font-family: "Azeret Mono", monospace;}

*{box-sizing: border-box;
margin: 0px;
padding: 0px;}



/*nav style*/

nav{
display: flex;
align-items: center;
justify-content: space-between; 
margin: 50px 150px 40px 150px;
}

.nav-tital{
    font-weight: 800px;
    font-size: 50px;
}
nav h1 a {
    text-decoration: none;
    color: black;

}

nav button a{
    text-decoration: none;
    color: black;
}
.nav-btn{
    display: flex;

justify-content: center;
align-items: center;
padding: 17px 24px 17px 24px;
font-weight: 600;
font-size: 20px;
border-radius: 8px;
background-color: white;
}


/*....banner section start hare.........*/

header{
        width: 1920px;
        min-height: 650px;
        background-image: url(../image/Hero-bg.png);
        
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
       
}

header div p{
    color: rgba(66, 72, 87, 0.37);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;


}
.banner-content{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.banner-tital{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
}
.banner-subtitle{
    color: rgba(20, 28, 48, 0.589);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;

}
.text-color{
color: rgb(13, 19, 33);
font-size: 12px;
font-weight: 300px;

}


/*.....main style hare.....*/

.main-containt{

    position: relative;
width: 1920px;



}

.main-container{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 margin:50px 250px 50px 290px ;
}

.main-title{
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}
.main-subtitle{
    font-size: 16px;
    font-weight: 400;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
   color: rgba(22, 34, 61, 0.527); 
}

/*.......main contest start hare.....*/





.main-pic{
    width: 259.56px;
}

.everythink{
    width: 380px;
    height:200px;


}





.main-contest{
    width: 1400px;
    height: 336px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 48px;
    margin-left: 250px;
    margin-right: 250px;
    background-color: antiquewhite;
    border-radius: 18px;
    margin-bottom: 24px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

}
.learn-more {

    display: flex;

    justify-content: center;
    align-items: center;
    Width: 150px;
    Height: 48px;
    Top: 172px;
    Left: 0px;
    background-color: antiquewhite;


}
.learn-more > .jammela {
    text-decoration: none;
    font-size: 16px;
    color: black;
    font-weight: 400;
    font-family: "Azeret Mono", monospace;
}




.btn-banner {
    display: flex;

    justify-content: center;
    align-items: center;
    padding: 17px 24px 17px 24px;
    font-weight: 600;
    font-size: 20px;
    border-radius: 8px;
    background-color: black;
    

}
header div button a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

section  {

    width: 1920px;
    margin-top:50px ;
    
    
}


.video {
 max-width: 1000px;
 margin: 0 auto;


}
.yt-holder{
    position: relative;
    overflow: hidden;
    height: 0;
    padding-bottom: 66%;
    
}

.yt-holder > iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 16px;
}


.target-container{
    
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 50px;
    
}
.target-content{
padding: 40px;
width: 364px;
height: 300px;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

section div h3 a {
    text-decoration: underline;

    color: black;
}

.support {
    background-image: url(../image/handshake.jpg);
    position: absolute;
 
 background-position: center;
         background-repeat: no-repeat;
         background-size: cover;
         border-radius: 16px;
         



display: flex;
flex-direction: column;
justify-items: center;
align-items: center;
color: rgb(255, 255, 255);
padding: 64px 48px 64px 48px;
border-radius: 16px;
margin: 50px 180px 50px 400px;
width: 1140px;







}
.support-bar{ 
    /* Frame 7 */
position: static;
width: 548px;
height: 57px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 19px 20px 19px 20px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 16px;

box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 8px;

background: rgb(255, 255, 255);
    

}

.btn-support-submit{

    
    
    justify-content: center;
    align-items: center;
    padding: 17px 24px 17px 24px;
    font-weight: 600;
    font-size: 20px;
    border-radius: 8px;
    background-color: white;


}

.frm-01{
display: flex;
flex-direction: row;
justify-content: center;
row-gap: 5px;


}

footer section {
    
position: static;
width: 1140px;
height: 36px;

display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

margin-top: 420px;
margin-left: 400px;
margin-right: 150px;
margin-bottom: 20px;
}
