@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
body{font-family: "Azeret Mono", monospace;}

*{box-sizing: border-box;
margin: 0px;
padding: 0px;}



/*nav style*/

nav{
display: flex;
align-items: center;
justify-content: space-between; 
margin: 50px 150px 40px 150px;
}

.nav-tital{
    font-weight: 800px;
    font-size: 50px;
}
nav h1 a {
    text-decoration: none;
    color: black;

}

nav button a{
    text-decoration: none;
    color: black;
}
.nav-btn{
    display: flex;

justify-content: center;
align-items: center;
padding: 17px 24px 17px 24px;
font-weight: 600;
font-size: 20px;
border-radius: 8px;
background-color: white;
}


/*....banner section start hare.........*/

header{
        width: 1920px;
        min-height: 650px;
        background-image: url(../image/Hero-bg.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
       
}

header div p{
    color: rgba(66, 72, 87, 0.37);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;


}
.banner-content{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.banner-tital{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
}
.banner-subtitle{
    color: rgba(82, 87, 100, 0.37);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;

}


/*.....main style hare.....*/

.main-containt{

    position: relative;
width: 1920px;
height: 650px;
}

.main-container{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 margin:50px 290px 50px 290px ;
}

.main-title{
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}
.main-subtitle{
    font-size: 16px;
    font-weight: 400;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: rgb(13, 19, 33);


}




